---
layout: default
title: Home
---

<div class="content">
    {% if paginator.total_posts > 0 %}
        {% for post in paginator.posts %}
            <article onclick="window.location.href = '{{ post.url }}'">
                <h3>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                
                {{ post.date | date: "%m/%d/%Y" }}

                <p>
                    {{ post.content | truncatewords: 50 }}
                    <a href="{{ post.url }}" class="read-more">Read more</a>
                </p>
            </article>
        {% endfor %}

    {% else %}
        <h1>Posts coming soon!</h1>
    {% endif %}

    <div class="pagination">
        {% if paginator.total_pages > 1 %}

            {% if paginator.next_page %}
                <a class="next" href="{{ site.url }}/page{{ paginator.next_page }}/">Next</a>
            {% else %}
                <span class="next"></span>
            {% endif %}

        {% endif %}
    </div>
</div>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://unpkg.com/jscroll@2.4.1/jquery.jscroll.js"></script>

<script type="text/javascript">
    $('.content').jscroll({
        contentSelector: ".content",
        nextSelector: ".next"
    });
</script>