---
layout: default
title: Blog
---

<div class="content">
    {% if paginator.total_posts > 0 %}
        {% for post in paginator.posts %}
            <article onclick="window.location.href = '{{ post.url }}'">
                <h3>
                    <a class="post-title" href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                
                {{ post.date | date: "%m/%d/%Y" }}

                <p>
                    {{ post.content | truncatewords: 50 }}
                    <a href="{{ post.url }}" class="read-more">Read more</a>
                </p>
            </article>
        {% endfor %}

    {% else %}
        <h1>Posts coming soon!</h1>
    {% endif %}

    <div class="pagination">
        {% if paginator.total_pages > 1 %}
                <div class="pagination-item previous">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}">« Previous</a>
                    {% endif %}
                </div>
                <div class="pagination-item">
                    {% if paginator.previous_page and paginator.next_page %}
                        |
                    {% endif %}
                </div>
                <div class="pagination-item next">
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}/">Next »</a>
                    {% endif %}
                </div>
        {% endif %}
    </div>
</div>