---
---

@import "{{ site.theme }}";

blockquote {
    font-size: 1em;
    border-left: .2em solid #A9A9A9;
    padding: .1em .1em .1em 1em;
}

ul {
    margin-left: 1em;
}

ul.list-no-icon li {
    list-style-type: none;
}

ul.list-no-icon a:hover {
    color:#d5000d;
}