---
---

@import "{{ site.theme }}";

body {
    padding-left: 10%;
    padding-right: 10%;

    ul { margin-left: 1vw; }
    
    ul.list-no-icon {
        margin-left: 0;

        li {
            list-style-type: none;
            padding-left: 0;
        }
    }

    header {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        
        margin-bottom: 0;
        padding-bottom: 0;

        a:hover { color:#373D3F; }

        a { 
            padding: .1em; 
            color:#373D3F;
            &:hover { color: #D5000D; }
        }
    }

    #header {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-content: center;
    }

    #header-top {
        display: flex;
        flex-direction: row;
    }

    .header-item {
        flex: 1;
        margin: auto;
        vertical-align: middle;
    }

    .header-icons { text-align: right; }

    .content {
        article {
            margin-bottom: 1%;

            .read-more {
                padding: 0vh 1vw;
            }
        }
    }

    .post {
        margin-top: 1vh;
        
        .post-content { margin-top: 1vh; }
    }

    #post-footer { margin-bottom: 5vh; }

    footer {
        background: none;
        margin: 0;
        padding-top: 0;

        a:hover { color:#373D3F; }

        a { 
            padding: .1em; 
            color:#373D3F;
            &:hover { color: #D5000D; }
        }
    }
}