---
---

@import "{{ site.theme }}";

$text: #4A4A4A;
$link: #D5000D;
$center-margin: 10%;

body {
    font-display: fallback;
    color: $text;

    ul { margin-left: 1vw; }
    
    ul.list-no-icon {
        margin-left: 0;

        li {
            list-style-type: none;
            padding-left: 0;
        }
    }

    .nav-bar {
        background-color: #303030;
        max-height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;

        .nav-bar-item {
            flex: 1;
            padding: 0vh 2vw;
            max-height: inherit;

            a { 
                padding: .2em; 
                color: #FFF;
                margin-top: auto;
                margin-bottom: auto;
                &:hover { color: $link; }
            }

            .pages {
                flex: 1;
                display: flex;
                max-height: inherit;
                font-weight: 500;
                font-size: 1em;

                a {
                    margin: 0vh 0vw;
                    padding: 0vh 0vw;
                    max-height: inherit;

                    .logo {
                        max-height: inherit;
                        object-fit: contain;
                    }
                }

                .nav-item-separator {
                    margin: auto 1vw;
                }
            }

            & + .icons {
                text-align: right;

                a, i {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
    }

    .body {
        .me {
            max-height: 30vh;
            margin-right: 1vw;
            border-radius: 50%;
            float: left;
        }

        padding: 0% $center-margin 0% $center-margin;
    
        header {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            align-content: center;
            
            margin-bottom: 0;
            padding-bottom: 0;

            .header-item {
                flex: 1;
                width: 100%;
            }
        }

        .content {
            article {
                margin-bottom: 1%;

                .read-more {
                    padding: 0vh 1vw;
                }

                .post {
                    margin-top: 1vh;
                    
                    .post-content { margin-top: 1vh; }
                }
            }
        }
    }

    footer {
        background: none;
        margin: 0;
        padding-top: 0;

        a:hover { color: $text; }

        a { 
            padding: .1em; 
            color:$text;
            &:hover { color: $link; }
        }
    }
}

@media only screen and (max-width: 450px) {
    body {
        .nav-bar {
            .nav-bar-item {
                & + .icons {
                    i.fa-2x { font-size: 1.5em; }
                }
            }
        }
        
        .body {
            header {
                text-align: center;
            }

            #main-content {
                p.me-container {
                    width: 100%;
                    display: block;
                    text-align: center;
                    
                    img.me {
                        float: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    body {
        .nav-bar {
            .nav-bar-item {
                & + .icons {
                    i.fa-2x { font-size: 1.25em; }
                }
            }
        }

        .body {
            header {
                text-align: center;
            }

            #main-content {
                p.me-container {
                    width: 100%;
                    display: block;
                    text-align: center;
                    
                    img.me {
                        float: none;
                    }
                }
            }
        }
    }
}