---
layout: default
---
<a href="{{ site.url }}">&laquo; Back</a>

<div class="post">
    {{ page.date | date: "%m/%d/%Y" }}
    
    <div class="post-content">
        {{ content }}
    </div>
    <hr>
    <blockquote>
        If you have any feedback, leave a commend below or put in a pull request on <a href="{{ site.repository_url }}">GitHub</a>
    </blockquote>

    {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = "{{ site.url }}/{{ page.url }}"; // <--- use canonical URL
                this.page.identifier = "{{ page.id }}";
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                
                s.src = '//dillonadams.disqus.com/embed.js'; // <--- use Disqus shortname
                
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>